.App {
  text-align: center;
  background-color: #635970;
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #363037;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inventory-table {
  width: 40%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #dddddd;
  padding: 8px;
}

.table-elem {
  border: 1px solid #dddddd;
  padding: 8px;
}