.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color:#8BC802;
  border-radius: 25px;
  width: 50%;
  margin: auto;
  padding: 30px;
}

.buttons {
  border-radius: 50px;
  background-color: #ffc14d;
  color:#F86F15;
  border: #F86F15;
}
.inventory-table {
  width: 40%;
  border-collapse: collapse;
  margin-top: 120px;
  background-color: #E1EF7B;
  color: #079057;
  position: fixed;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  border-radius: 25px;
}

.table-elem {
  color: #079057;
  border-radius: 25px;
  letter-spacing: 3px;
  font-size: 20px;
}

.totalQuantity {
  width: 40%;
  border-collapse: collapse;
  margin-top: 100px;
  margin-bottom: 400px;
  border-radius: 25px;
  position: relative;
  top: 200px;
  background-color: #ffc14d;
  color:#F86F15;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  text-align: auto;
  padding: 20px;
}